18) Divida la tierra en bloques de latitud y longitud de 5x5, ¿Cuál es el bloque con menos (o ninguna) referencias? (⭐⭐).

In [1]:
import pandas as pd
import math

from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

**Analisis previo**

* Viendo las columnas del df vemos que aquellas que nos pueden interesar para resolver el ejercicio son "gt_id", "gt_globe", "gt_lat" y "gt_lon" para hallar los bloques con menos o ninguna referencia. Además, con el analisis hecho previamente sabemos que estas columnas no contienen valores NaN. Cargamos el archivo unicamente con estas columnas para ahorrarnos el paso de dropear las demás.

* Debemos considerar aquellos bloques donde no existen referencias (creando un DataFrame con todos los bloques) antes de buscar los bloques con menos (o ninguna) referencias.

In [2]:
df_geo_tags = pd.read_csv("/content/drive/MyDrive/Organizacion de Datos/Colab Notebooks/TP1/geo_tags.csv", usecols=["gt_id", "gt_globe", "gt_lat", "gt_lon"])
df_geo_tags.drop(df_geo_tags[df_geo_tags["gt_globe"] != "earth"].index, inplace=True)

tam_bloque = 5
df_geo_tags["bloque_x_lon"] = (df_geo_tags["gt_lon"] // tam_bloque).astype(int) 
df_geo_tags["bloque_y_lat"] = (df_geo_tags["gt_lat"] // tam_bloque).astype(int)

df_bloques_referenciados = df_geo_tags.groupby(["bloque_x_lon", "bloque_y_lat"]).agg({"gt_id": ["count"]})
df_bloques_referenciados.columns = ["cantidad_de_referencias"]
df_bloques_referenciados.reset_index(inplace = True)

bloque_x_min = -36
bloque_x_max = 36
bloque_y_min = -18
bloque_y_max = 18
df_bloques_totales = pd.DataFrame({"bloque_x_lon": [columna for columna in range(bloque_x_min, bloque_x_max + 1) for fila in range(bloque_y_min, bloque_y_max + 1)],
                                   "bloque_y_lat": [fila for columna in range(bloque_x_min, bloque_x_max + 1) for fila in range(bloque_y_min, bloque_y_max + 1)]})

df_merge = pd.merge(df_bloques_totales, df_bloques_referenciados, how="outer").fillna(0)
df_merge["cantidad_de_referencias"] = df_merge["cantidad_de_referencias"].astype(int)

min_cantidad = df_merge["cantidad_de_referencias"].min()
resultado = df_merge[df_merge["cantidad_de_referencias"] <= min_cantidad].reset_index(drop=True)

Respuesta

In [3]:
resultado

     bloque_x_lon  bloque_y_lat  cantidad_de_referencias
0             -36           -15                        0
1             -36           -13                        0
2             -36           -11                        0
3             -36           -10                        0
4             -36            -8                        0
..            ...           ...                      ...
941            36            11                        0
942            36            12                        0
943            36            15                        0
944            36            16                        0
945            36            17                        0

[946 rows x 3 columns]